#primair,
#luxe {
    display: none;
}

#gaming {
    display: inline;
}



body {
    background-color: #000;
}

#container {
    background-color: #000000;
    color: #000000;
}

p {
    margin-bottom: 70px;
    padding: 10px;
    border: 3px solid grey;
    border-radius: 25px;
    background-color: #fff;

}


h1 {
    margin-left: 290px;
    color: white;
}


#image {
    background-image: url(../afbeeldingen/medium.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

nav a {
    text-decoration: none;
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    display: block;
}

nav a:hover {
    text-decoration: none;
    background-color: #fff;
    color: darkblue;
    font-weight: bold;


}

nav ul {

    display: flex;

}

nav li {
    list-style-type: none;
    flex: 1 1 auto;

}


footer {
    color: #fff;
}
