#primair,
#gaming {
    display: none;
}

#luxe {
    display: inline;
}

/*
#333333	
 #404040
#262640
	#20131b
#311c28
*/
body {
    background-color: #f4dcca;
    color: #000;
    background-image: url(../afbeeldingen/groot.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
