body {
    background-color: #1a1a1a;
    color: #fff;
    background-image: url(../afbeeldingen/medium.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#primair,
#luxe {
    display: none;
}

#gaming {
    display: inline;
}
