* {
    padding: 0;
    margin: 0;
}


#gaming,
#luxe {
    display: none;
}


body {
    background-color: #E51513;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    line-height: 27px;
    max-width: 900px;
    margin: auto;

}


#container {

    background-color: #E51513;
    color: #F4EE06;

}



p {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;

}



h1 {
    font-family: 'Noto Serif', serif;
    font-size: 22px;
    font-weight: bold;
    padding: 30px;
    margin-left: 160px;
}


h2 {
    font-family: 'Merienda one', cursive;
    font-size: 36px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}



#image {
    height: 200px;
    background-image: url(../afbeeldingen/basis.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}



nav a {
    text-decoration: none;
    background-color: #525150;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    display: block;
}

nav a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #525150;
    font-weight: bold;


}

nav ul {

    display: flex;

}

nav li {
    list-style-type: none;
    flex: 1 1 auto;

}

footer {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
