* {
    padding: 0;
    margin: 0;
}

h2,
p {
    padding: 10px 0px;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
}

#container {
    background-color: #8B623C;
    color: #000;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

#gaming,
#luxe {
    display: none;
}


footer {
    text-align: right;
    font-weight: bold;
    padding: 10px;
}
